
body {
    width: 100%;
    height: 1022px;
    background-image: url('../img/background.png');
    background-position: left top;
    background-repeat: repeat-x;
    font-family: Tahoma, sans-serif;
}

.container {
    max-width: 1060px;
    width: 100%;
    height: 987px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    background-color: #fff;
    border-bottom: 3px solid #031d28;
}

/*HEADER*/
.contacts {
    font-size: 14px;
    float: right;
    color: #128aa7;
    margin: 11px 33px 0 0;
}

.contacts p {
    margin-bottom: 7px;
    padding-left: 50%;

}

.contacts p:first-child {
    margin-bottom: 10px;
}

.flag {
    float: left;
}

.island {
    max-width: 1060px;
    width: 100%;
    height: auto;
}
/*MENU*/
    /*menu ul {
        max-width: 1060px;
        width: 100%;
        height: auto;
        background-color: #323232;

    }
    menu li {
        float: left;
    }
    menu a {
        display: table-cell;
        vertical-align: middle;
        background-color: #323232;
        color: #fff;
    }*/
.main-menu {
    padding: 0 63px 0 53px;
    list-style: none;
    background-color: #323232;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

.main-menu > li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
}

.main-menu a {
    font-size: 14px;
    display: block;
    padding: 8px 35px 10px 35px;
    color: #fff;
    text-decoration: none;
}
.sub-menu a {
    padding: 8px 10px;
}

.main-menu a:hover {
    background-color: #404040;
}

.main-menu .sub-menu {
    position: absolute;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #323232;
    border-top: 1px solid #000;
    display: none;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.75);
}

.main-menu > li:hover .sub-menu {
    display: block;
}

/*SIDEBAR-LEFT*/

/*SIDEBAR-RIGHT*/

footer .copyright {
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-top: 9px;
}
