
body {
    width: 100%;
    height: auto;
    background-image: url('../img/background.png');
    background-position: left top;
    background-repeat: repeat-x;
    font-family: Tahoma, sans-serif;
}

.container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    background-color: #fff;
    border-bottom: 3px solid #031d28;
}

/*HEADER*/
.contacts {
    font-size: 14px;
    float: right;
    color: #128aa7;
    margin: 11px 33px 0 0;
}

.contacts p {
    margin-bottom: 7px;
    padding-left: 50%;

}

.contacts p:first-child {
    margin-bottom: 10px;
}

.countries {
    margin-top: 20px;
}

.flag img {
    display: block;
    margin: 0 auto;
}

.flag {
    float: left;
    color: #128aa7;
    margin: 0 8px 0 8px;
    text-align: center;
}

.flag a {
    font-size: 10px;
    color: #128aa7;
}

.island {
    display: block;
    max-width: 1060px;
    width: 100%;
    height: auto;
}
/*MENU*/
.main-menu {
    padding: 0 63px 0 53px;
    list-style: none;
    background-color: #323232;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    z-index: 10;
    position: relative;
}

.main-menu > li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
}

.main-menu a {
    font-size: 14px;
    display: block;
    padding: 8px 35px 10px 35px;
    color: #fff;
    text-decoration: none;
}
.sub-menu a {
    padding: 8px 10px;
}

.main-menu a:hover {
    background-color: #404040;
}

.main-menu .sub-menu {
    position: absolute;
    width: 150px;
    margin: 0;
    padding: 0;
    background-color: #323232;
    border-top: 1px solid #000;
    display: none;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.75);
}

.main-menu > li:hover .sub-menu {
    display: block;
}

/*SIDEBAR*/
.sidebars {
    position: relative;
}

.sidebars:after {
    content: "";
    clear: both;
    display: table;
}

.sidebar-right,
.sidebar-left {
    color: #424c43;
    background-color: #edeef0;
    max-width: 208px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sidebar-left {
    position: absolute;
    float: left;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
}

.sidebar-left p,
.sidebar-right p {
    margin-top: 10px;
    font-size: 14px;
}

.sidebar-right {
    float: right;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    padding-bottom: 10px;
}

h1 {
    margin-top: 10px;
    font-size: 18px;
}

/*FOOTER*/
footer .copyright {
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 9px 0 11px 0;
}

@media (max-width: 998px) {
    .main-menu {
        padding: 0 5px 0 5px;
    }
}
