$font-family: 'Source Sans Pro', sans-serif;
$text-color: #777;

$line-height: 19px;
$border-width: 1px;
$spacing: 24px;

$highlight-color: rgb(242, 244, 248);
$selected-option-background: linear-gradient(to bottom, #fefefe, #f2f2f2);
$dropdown-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

$standard-border: $border-width solid #d0d0d0;

$spacing-small: $spacing / 2;
$spacing-tiny: $spacing / 4;
