@import "reset";
@import "fonts";
@import "variables";

body {
    font-family: $font-family;
}

a, label {
    font-weight: 400;
    color: $text-color;
}

::-webkit-input-placeholder {
    color: #dedede;
}
::-moz-placeholder {
    color: #dedede;
}
:-ms-input-placeholder {
    color: #dedede;
}
:-moz-placeholder {
    color: #dedede;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 100%;
}

.wrapper {
    height: auto;
    max-width: 1520px;
    margin: 0 auto;
}

header {
    background-color: #fafafa;
    .header__bg {
        min-height: 8px;
        background: url('../img/header_bg.jpg') top center no-repeat;
    }
    .header__menu {
        margin: 43px 0 39px 0;
        float: left;
        list-style: none;
        .menu__item {
            margin-right: 67px;
            float: left;
            a {
                font-size: 30px;
                font-weight: 400;
                line-height: 48px;
            }
        }
    }
    form.search {
        max-width: 460px;
        max-height: 70px;
        margin: 22px 0 0 4px;
        float: left;
        background-color: #fff;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        .search__input {
            margin: 15px 56px 15px 18px;
            float: left;
            border: none;
            font-family: $font-family;
            font-size: 30px;
            font-weight: 400;
            letter-spacing: 1px;
            color: #dedede;
            outline: none;
        }
        .search__btn {
            width: 42px;
            height: 42px;
            margin: 13px 19px 0 0;
            float: right;
            border: none;
            background-color: #fff;
            background: url('../img/sprite.png') 0 -12px no-repeat;
            cursor: pointer;
        }
    }
    section.account {
        margin-top: 20px;
        margin-left: 57px;
        float: left;
        .account__alert {
            position: relative;
            width: 55px;
            height: 56px;
            margin-right: 35px;
            float: left;
            background: url('../img/sprite.png') -72px 0 no-repeat;
        }
        .account__message {
            position: relative;
            width: 55px;
            height: 56px;
            margin-right: 40px;
            float: left;
            background: url('../img/sprite.png') -148px 0 no-repeat;
        }
        .account__link {
            display: inline-block;
            position: absolute;
            top: -6px;
            left: 12px;
            width: 40px;
            height: 40px;
            background-color: #ff7f68;
            border-radius: 50%;
            border: 4px solid #fff;
            text-align: center;
            font-size: 22px;
            font-weight: 400;
            line-height: 40px;
            color: #fff;
        }
        .account__profile {
            position: relative;
            width: 55px;
            height: 56px;
            float: right;
            .account__link--profile {
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: url('../img/sprite.png') -233px -1px no-repeat;
            }
        }
    }
    .header__line {
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
    }
}

main {
    section.switches {
        display: inline-block;
        margin-top: 60px;
        float: left;
        .switch {
            position: relative;
            display: inline-block;
            width: 100px;
            height: 50px;
            margin-bottom: 30px;
        }
        .slider__text {
            position: absolute;
            top: 14px;
            left: 16px;
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
            text-transform: uppercase;
            color: #fff;
            z-index: 9;

        }
        .text-off {
            left: 56px;
        }
        .switch input {display:none;}
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100px;
            height: 50px;
            background-color: #ff7f68;
            -webkit-transition: .4s;
            transition: .4s;
        }
        .slider:before {
            position: absolute;
            content: "";
            width: 38px;
            height: 38px;
            left: 6px;
            bottom: 6px;
            background-color: #fff;
            -webkit-transition: .4s;
            transition: .4s;
            z-index: 10;
        }
        input:checked + .slider {
            background-color: #a9cf55;
        }
        input:focus + .slider {
            box-shadow: 0 0 1px #a9cf55;
        }
        input:checked + .slider:before {
            -webkit-transform: translateX(50px);
            -ms-transform: translateX(50px);
            transform: translateX(50px);
        }
        .slider.round {
            border-radius: 34px;
        }
        .slider.round:before {
            border-radius: 50%;
        }
        .rectangular {
            margin-left: 40px;
            .slider {
                border-radius: 3px;
            }
            .slider__icon {
                position: absolute;
                top: 14px;
                left: 7px;
                width: 100px;
                height: 24px;
                background-image: url('../img/sprite.png');
                background-repeat: no-repeat;
                background-position: -6px -85px;
                z-index: 9;
            }
        }
    }

    section.checkboxes-radio {
        float: left;
        margin-right: 21px;
        form {
            display: inline-block;
            margin: 68px 0 46px 80px;
            div {
                display: inline-block;
            }
        }
        input[type=checkbox],
        input[type=radio] {
        	position: absolute;
        	clip: rect(0, 0, 0, 0);
        }
        label {
        	cursor: pointer;
            font-size: 26px;
            font-weight: 400;
            margin-right: 56px;
        }
        label:before {
        	content: " ";
        	display: inline-block;
        	width: 34px;
        	height: 34px;
            margin-right: 14px;
        	background: url('../img/sprite.png') -8px -142px no-repeat;
        	position: relative;
        	top: 3px;
        	margin-left: 15px;
        }
        input[type=checkbox]:checked + label:before {
            background-position: -103px -142px;
        }
        label:hover:before,
        label.hovered:before {
            background-position: -55px -142px;
        }
        input[type=checkbox]:checked + label:hover:before  {
            background-position: -103px -142px;
        }

        form:last-child {
            margin-top: 0px;
            label:before {
                background: url('../img/sprite.png') -8px -196px no-repeat;
            }
            input[type=radio]:checked + label:before {
                background-position: -103px -196px;
            }
            label:hover:before,
            label.hovered:before {
                background-position: -55px -196px;
            }
            input[type=radio]:checked + label:hover:before {
                background-position: -103px -196px;
            }
        }
    }

    section.diagrams {
        float: left;
        margin-top: 46px;
        #diagram1 {
            margin-right: 81px;
        }
    }
}

.wrap {
    float: left;
}
.wrap-right {
    float: right;
}

section.signup {
    max-width: 454px;
    max-height: 390px;
    border: 1px solid #c7c6cb;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 52px;
    margin-bottom: 54px;
    .signup__text {
        background-color: #f6f5f6;
        border-bottom: 1px solid #d6d6d6;
        padding: 22px 315px 23px 38px;
        p {
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 700;
            font-family: $font-family;
            color: $text-color;
        }
    }
    form {
        padding: 38px 40px 50px 40px;
    }
    input[type=text],
    input[type=password] {
        width: 306px;
        height: 64px;
        padding-left: 68px;
        background-color: white;
        border: 1px solid #d5d5d5;
        border-radius: 6px;
        box-shadow: inset 0.7px 0.7px 3px rgba(0, 0, 0, 0.15);
        outline: none;
        font-family: $font-family;
        font-size: 26px;
        font-weight: 400;
        color: #333;
    }
    input[type=text]:focus,
    input[type=password]:focus {
        border-color: #4e90c7;
        font-family: $font-family;
        font-size: 26px;
        font-weight: 400;
        color: #333;
    }
    input[type=text] {
        background: url('../img/sprite.png') 10px -291px no-repeat;
    }
    input[type=password] {
        margin: 20px 0 26px 0;
        background: url('../img/sprite.png') 10px -352px no-repeat;
    }
    input[type=text]:focus {
        background: url('../img/sprite.png') 10px -235px no-repeat;
    }
    input[type=password]:focus {
        background: url('../img/sprite.png') 10px -409px no-repeat;
    }

    input.btn {
        width: 180px;
        height: 64px;
        float: right;
        background-color: #4e90c7;
        border: none;
        border-radius: 6px;
        font-family: $font-family;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        outline: none;
        cursor: pointer;
        transition: background-color .5s;
    }
    input.btn:hover {
        background-color: #2f71a9;
        transition: .5s;
    }

    ::-webkit-input-placeholder {
        font-family: $font-family;
        font-size: 26px;
        font-weight: 400;
        color: #ccc;
    }
    ::-moz-placeholder {
        font-family: $font-family;
        font-size: 26px;
        font-weight: 400;
        color: #ccc;
    }
    :-ms-input-placeholder {
        font-family: $font-family;
        font-size: 26px;
        font-weight: 400;
        color: #ccc;
    }
    :-moz-placeholder {
        font-family: $font-family;
        font-size: 26px;
        font-weight: 400;
        color: #ccc;
    }
}

section.calendar {
    width: 472px;
    height: 480px;
    background-color: #ccc;
    border: 1px solid #c7c6cb;
    border-radius: 3px;
}

section.profile {
    width: 472px;
    height: 260px;
    margin-top: 32px;
    margin-bottom: 50px;
    border: 1px solid #c7c6cb;
    border-radius: 3px;
    overflow: hidden;
    .profile__content {
        .profile__logo {
            float: left;
            margin: 30px 0 28px 32px;
            width: 136px;
            height: 136px;
            background: url('../img/sprite.png') -163px -111px no-repeat;
        }
        .profile__description {
            display: inline-block;
            max-width: 254px;
            max-height: 122px;
            float: right;
            h1 {
                font-weight: 400;
                color: #333;
                font-size: 36px;
            }
            p {
                font-weight: 400;
                color: #777;
                font-size: 24px;
            }
        }
    }
    .profile__votes {
        min-height: 172px;
        .vote {
            width: 157px;
            height: 72px;
            display: inline-block;
            float: left;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                span {
                    display: block;
                    width: 88px;
                    height: 32px;
                    margin: 0 auto;
                    margin-top: 18px;
                    padding-top: 2px;
                    padding-left: 10px;
                    text-align: right;
                    color: white;
                    font-family: $font-family;
                    font-size: 28px;
                    font-weight: 400;
                }
            }
        }
        .heart {
            float: left;
            background: #a9cf55;
            span {
                background: url('../img/sprite.png') -247px -250px no-repeat;
            }
        }
        .friend {
            float: left;
            border-left: 1px solid #fff;
            background: #ff7f68;
            span {
                background: url('../img/sprite.png') -247px -311px no-repeat;
            }
        }
        .eye {
            float: right;
            width: 156px;
            background: #4e90c7;
            span {
                background: url('../img/sprite.png') -247px -368px no-repeat;
            }
        }
    }
}

section.controlls {
    float: right;
    padding: 68px 15px 0 15px;
    .controller {
        max-width: 454px;
        max-height: 328px;
        margin-bottom: 90px;
        .line {
            position: relative;
            width: 454px;
            height: 10px;
            background-color: #ededed;
            border-radius: 4px;
        }
        .line2 {
            position: absolute;
            left: 60px;
            width: 290px;
            height: 10px;
            border-radius: 4px;
            background-color: #a9cf55;
        }
        .point {
            position: absolute;
            top: -58px;
            left: 93px;
            width: 60px;
            height: 40px;
            background-color: #4e90c7;
            border-radius: 6px;
            p {
                width: 26px;
                height: 19px;
                margin: 0 auto;
                color: white;
                font-family: $font-family;
                font-size: 26px;
                font-weight: 400;
                line-height: 38px;
                text-transform: uppercase;
            }
            div {
                position: absolute;
                top: 32px;
                left: 17px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 14px 12px 0 12px;
                border-color: #4e91c7 transparent transparent transparent;
            }
        }
        .circle {
            position: absolute;
            top: -10px;
            left: 108px;
            width: 28px;
            height: 28px;
            background-color: #4e90c7;
            border-radius: 50%;
            z-index: 999;
            cursor: pointer;
            p {
                display: inline-block;
                width: 12px;
                height: 12px;
                margin: 0 auto;
                margin: 8px;
                text-align: center;
                background-color: #fff;
                border-radius: 50%;
            }
        }
    }
    .controller2 {
        .circle {
            left: 52px;
            background-color: #a9cf55;
        }
        .circle2 {
            left: 328px;
        }
        .numbers {
            position: absolute;
            width: 100%;
            margin-top: 33px;
            p {
                margin-right: 84px;
                float: left;
                color: #777;
                font-family: $font-family;
                font-size: 22px;
                font-weight: 600;
            }
            p:last-child {
                margin-right: 0;
                float: right;
            }
        }
    }
    .controller3 {
        position: relative;
        margin-top: 130px;
        margin-bottom: 78px;
        .circle {
            background-color: #ffa940;
            left: 298px;
        }
        p.percent {
            position: absolute;
            top: -8px;
            color: #777;
            font-family: $font-family;
            font-size: 22px;
            font-weight: 600;
        }
        p.percent:last-child {
            right: -25px;
        }
        .line {
            width: 380px;
            margin: 0 auto;
        }
        .line2 {
            width: 310px;
            background-color: #ffa940;
            left: 0;
        }
    }
}

.video {
    display: inline-block;
    border: 0 solid #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

section.select {
    display: inline-block;
    margin-bottom: 50px;
    // Hide real select boxes which have seen styled.
    select[data-ss-uuid] {
    	display: none;
    	pointer-events: none;
    }

    .style-select {
    	display: block;
    	position: relative;
        width: 454px;// Default width
        margin-bottom: 16px;
    	// Set reasonable defaults on this element and its children
    	&, * {
    		padding: 0;
    		box-sizing: border-box;
    		text-align: left;
    		line-height: $line-height;
    		color: black;
    		font-weight: 300;
    		cursor: pointer;
    	}
    	.ss-selected-option {
    		width: 100%;
            height: 64px;
            padding-top: 20px;
            padding-left: 18px;
    		background-image: $selected-option-background;
            background-color: #f6f6f6;
    		border-radius: 2px;
            color: #333;
            font-family: $font-family;
            font-size: 26px;
            font-weight: 400;
    		border: $standard-border;
            border-radius: 6px 6px 0 0;
            outline: none;
    		// The down arrow
    		&::after {
                width: 63px;
                height: 64px;
    			content: "";
                background: url('../img/sprite.png') 11px -481px no-repeat;
    			position: absolute;
    			top: 13px;
    			right: $spacing-small;
    			display: block;
    		}
    	}

    	.ss-dropdown {
    		top: 63px;
    		left: 0;
    		position: absolute;
    		float: left;
    		width: 100%;
    		display: none;
    		border-top: 0 none;
            border: 1px solid #c9c9c9;
            // border-radius: 6px 6px 0 0;
            box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
    		.ss-option {
                position: relative;
    			width: 100%;
                height: 64px;
    			padding-top: 20px;
                padding-left: 18px;
    			background-color: white;
                font-family: $font-family;
                font-size: 26px;
                font-weight: 400;
                color: #777;


    			// We don't use :hover as that's only for mouse
    			// and we want keyboard highlighting too
    			&.highlighted {
    				background-color: #e5f2fd;
                    color: #4e90c7;
                    z-index: 9999;
    			}
    			&.disabled {
    				color: #d0d0d0;
    			}
    		}
    	}

    	&.open {
    		.ss-dropdown {
    			display: block;
    		}
    		.ss-selected-option::after {
                position: absolute;
                top: 0;
                right: 0;
                width: 63px;
                height: 64px;
                content: "";
                background: url('../img/sprite.png') -66px -460px no-repeat;
                background-color: #fff;
                z-index: 999;
                border-radius: 6px 6px 0 0;
                box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
                border: 1px solid #d0d0d0;
                border-bottom: 0;
    		}
    	}
        .gray {
            color: #c9c9c9;
        }
    }
}
