div.account-details.info-box
  h2.account-details__title.info__title 2. Account Details Germany
  table.info-table
    tr.info-table__row
      td.info-table__name Account Holder
      td.info-table__body RaceBets GmbH
    tr.info-table__row
      td.info-table__name IBAN
      td.info-table__body DE27 3706 9164 7110 4210 22
    tr.info-table__row
      td.info-table__name BIC
      td.info-table__body GENODED1MBU
    tr.info-table__row
      td.info-table__name Bank Name
      td.info-table__body Volksbank Meerbusch
    tr.info-table__row
      td.info-table__name Currency
      td.info-table__body EUR
    tr.info-table__row
      td.info-table__name Reason for payment
      td.info-table__body sandbox-1000 sandbox-1000, RB 1000