div.method
  h2.method__title New method
  a.method__icon.icon-plus(href="#")
  div.method-item
    h3.method-item__title Bank
    a.method-item__link(href="#") Bank Transfer Account
  div.method-item
    h3.method-item__title Card Details
    a.method-item__link(href="#") Transactions
    a.method-item__link(href="#") Price table
