div.method
  h2.method__title New method
  a.method__icon.icon-plus(href="#")
  div.method-item
    h3.method-item__title Bank
    a.method-item__link(href="#") bank transfer account
  div.method-item
    h3.method-item__title Card Details
    a.method-item__link(href="#") transactions
    a.method-item__link(href="#") price table