div.site-menu
  div.site-menu_bg
    div.layout-center
      ul.site-menu__list
        each link in ['home','races','live streams','promotions','statistics','help']
          li.site-menu__item
            a.site-menu__link(href="#")= link