div.sponsors
  span.sponsors__border
  ul.sponsors__list
      li.sponsors__item.icon-visa
      li.sponsors__item.icon-mastercard
      li.sponsors__item.icon-paypal
      li.sponsors__item.icon-skrill
      li.sponsors__item.icon-neteller
      li.sponsors__item.icon-kash
      li.sponsors__item.icon-paysafe
  span.sponsors__border