div.support
  div.support-head
    div.support-head__icon.icon-girl
    include ./chat-notify
  ul.support__list
    li.support__item.support__item-chat Start a Live Chat now
    li.support__item.support__item-email Send us an Email
    li.support__item.support__item-phone 0808 238 0022 (free from UK) +44 203 747 6778
