div.transfer.info-box
  h2.transfer__title.info__title.info__title_icon 1. Deposit Funds into your Account by Bank Transfer
  table.info-table
    tr.info-table__row
      td.info-table__name Duration
      td.info-table__body 2-5 Days
    tr.info-table__row
      td.info-table__name Minimun
      td.info-table__body 5.00 Euro
    tr.info-table__row
      td.info-table__name Fee
      td.info-table__body Free