* {
    margin: 0;
    padding: 0;
}

/*GLOBAL*/
.menu-wrapper {
    position: relative;
    margin-top: 22px;
}

.wrapper {
    position: relative;
    margin: 0 auto;
}

@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 100%;
}

/*HEADER*/
.header {
    min-width: 1440px;
    background: url('../img/header_bg.jpg') top center no-repeat;
    background-size: cover;
    border-bottom: 1px solid #33263a;
}
.logo {
    margin: 0 auto;
    display: block;
    width: 152px;
    padding-top: 70px;
}
.logo__image {
    display: block;
}

.menu {
    position: relative;
    overflow: hidden;
    display: none;
    list-style: none;
}
.menu__item {
    float: left;
    margin-right: 10px;
}
.menu--mobile {
    margin: 0 auto;
    max-width: 245px;
    border: 1px solid #051116;
    border-radius: 8px;
    background: rgba(54, 41, 62, 0.9);
    text-align: center;
}
.menu--mobile .menu__item {
    margin-right: 0;
    float: none;
    border-top: 1px solid #523f5a;
    border-bottom: 1px solid #36283e;
}
.menu__item:first-child {
    border-top: none;
    max-height: 39px;
}
.menu__item:last-child {
    border-bottom: none;
}
.menu--mobile .menu__item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    max-height: 39px;
}
.menu--mobile .menu__link {
    display: block;
}
.menu__link,
.current-page__link {
    padding: 0 6px;
    color: #fff;
    font-size: 24px;
    line-height: 39px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
}
.menu__link:hover {
    border-bottom: 2px solid #edbfff;
    max-height: 37px;
}
.current-page__link {
    border-bottom: 2px solid #edbfff;
}
.current-page {
    padding-top: 1px;
    text-align: center;
}

.menu__item--current .menu__link {
    display: inline-block;
    border-bottom: 2px solid #edbfff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.menu-wrapper:hover .menu {
    display: block;
}
.menu-wrapper:hover .current-page__link {
    opacity: 0;
}

/*slider*/
.slider {
    position: relative;
    /*padding: 0 25px;*/
    font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
}
.slider__item {
    margin: 0 auto;
    padding-left: 45px;
}
.slider--second {
    border-bottom: 1px solid #efefef;
}
.slider__text1 {
    color: #fefefe;
    font-size: 36px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.slider__text2 {
    color: #edbfff;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.slider__text3 {
    display: none;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    margin-top: -21px;
    height: 42px;
    width: 30px;
    background: url('../img/slider_arrows.png') 0 0 no-repeat;
}
.slider__arrow--left {
    left: 0px;
}
.slider__arrow--right {
    right: 0px;
    background-position: -37px 0;
}

.slider__buttons {
    position: absolute;
    width: 100%;
    margin-left: -25px;
    bottom: -91px;
    list-style: none;
    text-align: center;
}
.slider__buttons li {
    display: inline-block;
    margin: 0 1px;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.slider__buttons li.current::before {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    margin: 3px;
    border-radius: 100%;
    background: rgb(253,253,253);
    background: -moz-linear-gradient(top,  rgba(253,253,253,1) 0%, rgba(222,222,222,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom,  rgba(253,253,253,1) 0%,rgba(222,222,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dedede',GradientType=0 );
}

/*slider--content*/
.slider--content {
    margin-top: 0;
     padding: 0 20px;
}
.slider--content .slider__item {
    position: relative;
    margin: 0 0 0 24px;
    padding: 24px 30px 30px 36px;
    background: #fff;
}
.slider--content .slider__buttons {
    position: relative;
    bottom: auto;
    margin-top: 23px;
    margin-left: 12px;
}
.slider--content .slider__buttons li {
    background: #fff;
    border: 1px solid #e8e8e8;
}
.slider--content .slider__buttons li::before {
    background: -webkit-linear-gradient(277deg, rgb(139, 139, 139) 0%, rgb(98, 98, 98) 36%, rgb(70, 70, 70) 100%);
    background: -o-linear-gradient(277deg, rgb(139, 139, 139) 0%, rgb(98, 98, 98) 36%, rgb(70, 70, 70) 100%);
    background: -ms-linear-gradient(277deg, rgb(139, 139, 139) 0%, rgb(98, 98, 98) 36%, rgb(70, 70, 70) 100%);
    background: -moz-linear-gradient(277deg, rgb(139, 139, 139) 0%, rgb(98, 98, 98) 36%, rgb(70, 70, 70) 100%);
    background: linear-gradient(173deg, rgb(139, 139, 139) 0%, rgb(98, 98, 98) 36%, rgb(70, 70, 70) 100%);
}
.slider--content .slider__image {
    position: absolute;
    top: 18px;
    left: -25px;
}
.slider__image2 {
    display: none;
}
.slider__title {
    color: #454545;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
}
.slider__title span {
    display: block;
    color: #edbfff;
}
.slider--content .slider__text {
    margin-top: 5px;
    color: #454545;
    font-family: "Open Sans", Tahoma, Arial, sans-serif;
}

/*ABOUT SECTION*/

.about-section {
    padding: 65px 0 40px;
    background: rgba(116,82,132,1);/* Old Browsers */
    background: -moz-linear-gradient(top, rgba(116,82,132,1) 0%, rgba(64,48,74,1) 80%, rgba(54,41,61,1) 100%);/* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,82,132,1)), color-stop(80%, rgba(64,48,74,1)), color-stop(100%, rgba(54,41,61,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, rgba(116,82,132,1) 0%, rgba(64,48,74,1) 80%, rgba(54,41,61,1) 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(116,82,132,1) 0%, rgba(64,48,74,1) 80%, rgba(54,41,61,1) 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(116,82,132,1) 0%, rgba(64,48,74,1) 80%, rgba(54,41,61,1) 100%);/* IE 10+ */
    background: linear-gradient(to bottom, rgba(116,82,132,1) 0%, rgba(64,48,74,1) 80%, rgba(54,41,61,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745284', endColorstr='#36293d', GradientType=0 );/* IE6-9 */
    border-bottom: 1px solid #12191f;
}
.about {
    position: relative;
    margin: 0 25px 22px;
    padding-left: 55px;
    color: #fff;
    font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.about__title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
}
.about__text {
    font-size: 16px;
    font-family: "Open Sans", Tahoma, Arial, sans-serif;
}
.about__text2 {
    display: none;
}
.about__link {
    margin-top: 20px;
    float: right;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.about__link:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}
.about:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 4px;
    height: 31px;
    width: 30px;
    background: url('../img/icons.png') 0 0 no-repeat;
}
.about--settings::before {
    width: 30px;
}
.about--talk::before {
    width: 33px;
    background-position: -31px 0;
}
.about--music::before {
    width: 29px;
    background-position: -65px 0;
}

/*DESCRIPION*/
.description {
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
}
.updates {
    margin-top: 50px;
    margin-left: 20px;
}
.updates__title {
    margin-bottom: 20px;
    color: #454545;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
}
.updates__item {
    margin-bottom: 16px;
}
.updates__image {
    margin-right: 17px;
    float: left;
}
.updates__info,
.updates__subtitle {
    font-size: 16px;
    font-family: "Open Sans", Tahoma, Arial, sans-serif;
}
.updates__subtitle {
    color: #454545;
    font-weight: 800;
}
.updates__link {
    margin-right: 25px;
    float: right;
    font-size: 18px;
    color: #454545;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
}

/*sponsors*/
.sponsors {
    padding-top: 50px;
    border-top: 1px solid #fefefe;
}
.sponsor__item {
    display: block;
    float: left;
    margin-bottom: 60px;
    width: 50%;
    text-align: center;
}


/*PREFOOER*/
.prefooter {
    padding: 80px 20px 36px 20px;
    background-color: #ececec;
    border-top: 1px solid #d8d8d8;
}
.category {
    margin-bottom: 54px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}
.category__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: #454545;
    font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
}
.category__title--logo,
.category__title--logotype,
.category__text--copyright {
    display: none;
}
.category__text {
    font-size: 16px;
    color: #787878;
    font-family: "Open Sans", Tahoma, Arial, sans-serif;
}

/*FOOTER*/
.footer {
    height: 200px;
    background: url('../img/footer_bg.jpg') top center no-repeat;
    background-size: cover;
}
.menu--footer {
    display: block;
    padding: 50px 20px 0 20px;
}
.menu--footer .menu__link {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    font-size: 20px;
}
.menu--footer .menu__item {
    margin-right: 12px;
}
.menu--footer .menu__item:last-child {
    margin-right: 0;
}
.menu--footer .menu__link:hover {
    border-bottom: none;
}
.copyrights {
    padding-top: 40px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: "Open Sans", Tahoma, Arial, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.copyrights__link {
    font-weight: 800;
    text-decoration: none;
    color: #fff;
}


@media (max-width: 320px) {
    header {
        padding-bottom: 160px;
    }
    .slider--first {
        margin-top: 115px;
    }
    .slider--first .slider__image {
        display: none;
    }
    .slider__title {
        font-size: 24px;
    }
    .prefooter {
        display: none;
    }
    .menu--footer {
        display: none;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .slider__title span {
        display: inline-block;
    }
    .wrapper {
        max-width: 480px;
    }
    .menu--mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .updates {
        margin-left: 80px;
    }
    .updates__link {
        margin-right: 60px;
    }
    .sponsor__item {
        width: 33.33%;
    }
    .sponsor__item:nth-child(1) {
        padding-left: 20px;
    }
    .sponsor__item:nth-child(2) {
        margin: 0 -20px;
    }
    .sponsor__item:nth-child(3) {
        padding-right: 20px;
    }
}

@media (min-width: 321px) {
    .slider--first {
        padding: 65px 25px 90px 25px;
        margin-bottom: 100px;
        margin-top: 70px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .slider__buttons {
        bottom: -45px;
    }
    .slider--first .slider__image {
        float: right;
        margin-top: -75px;
        margin-right: 13px;
    }
    .slider__item {
        padding-left: 23px;
    }
}

@media (min-width: 481px) {
    .logo {
        margin-left: 20px;
    }
    .menu-wrapper .menu {
        display: block;
    }
    .menu-wrapper .current-page__link {
        display: none;
    }
    .menu--mobile {
        margin-left: 20px;
        max-width: none;
        border: none;
        border-radius: 0;
        background: none;
        text-align: left;
    }
    .menu--mobile .menu__item {
        margin-right: 40px;
        float: left;
        border-top: none;
        border-bottom: none;
    }
    .menu--mobile .menu__item:hover {
         background-color: rgba(0, 0, 0, 0);
    }
    .menu__item--current .menu__link {
        text-shadow: none;
    }
    .menu--mobile .menu__link {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    }
    .slider__text1 {
        font-size: 48px;
    }
    .slider__text2 {
        font-size: 24px;
    }
    .slider__text3 {
        display: block;
        font-size: 16px;
        color: #fff;
        line-height: 24px;
        font-family: "Open Sans", Tahoma, Arial, sans-serif;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    }
    .slider--first {
        padding: 100px 25px 110px 25px;
        margin-bottom: 155px;
    }
    .slider--first .slider__image {
        display: none;
    }
    .slider__image2 {
        display: block;
        float: right;
        margin-top: -122px;
        margin-right: 25px;
    }
    .slider--first .slider__buttons {
        max-width: 90px;
        bottom: -60px;
        right: 135px;
    }
    .slider--content .slider__item {
        padding: 24px 30px 52px 36px;
    }

    .sponsor__item {
        width: 16%;
        text-align: center;
    }

    .copyrights {
        float: right;
        margin-right: 20px;
        padding-top: 20px;
    }
}

@media (min-width: 768px) {
    .about-section {
        padding: 75px 0 267px;
    }
    .about {
        max-width: 165px;
        float: left;
        margin: 0 17px;
        padding-left: 56px;
    }
    .about__text2 {
        display: block;
    }

    .slider--content {
        max-width: 360px;
        float: left;
    }
    .updates {
        min-width: 320px;
        margin-top: 20px;
        float: left;
    }
    .description {
        padding-top: 115px;
        padding-bottom: 75px;
    }
    .prefooter {
        padding-right: 0;
    }
    .category {
        float: left;
        max-width: 200px;
    }
    .category:first-child,
    .category:nth-child(2) {
        margin-right: 70px;
    }

}

@media (min-width: 769px) {
    .menu--mobile {
        float: right;
        margin-top: 70px;
    }
    .menu-wrapper {
        display: inline-block;
        margin-left: 90px;
        margin-top: 0;
    }
    .footer {
        height: 115px;
    }
    .menu--footer {
        display: inline-block;
        max-width: 520px;
        padding-top: 35px;
    }
    .menu--footer .menu__item {
        margin-right: 25px;
    }
    .copyrights {
        padding-top: 50px;
    }

    .updates {
        margin-left: 230px;
    }
    .category {
        max-width: 250px;
    }
    .category__text--copyright {
        display: block;
        color: #c5c5c5;
        font-style: italic;
        font-size: 16px;
        font-family: Georgia, Tahoma, Arial, sans-serif;
    }
    .category:first-child .category__title {
        display: none;
    }
    .category:first-child,
    .category:nth-child(2) {
        margin-right: 85px;
    }
    .category__title--logo,
    .category__title--logotype {
        display: inline-block;
        color: #454545;
        font-size: 48px;
        font-family: "League Gothic Regular", Tahoma, Arial, sans-serif;
    }
    .category__title--logotype {
        color: #b9b9b9;
    }
    .prefooter {
        padding-bottom: 0;
    }
    .about-section {
        padding: 75px 0 267px;
    }
    .about {
        max-width: 165px;
        float: left;
        margin: 0 48px;
        padding-left: 40px;
    }
    .about::before {
        left: -10px;
    }

    .slider--content {
        max-width: 360px;
        float: left;
    }
    .updates {
        min-width: 320px;
        margin-top: 20px;
        float: left;
    }
    .description {
        padding-top: 115px;
        padding-bottom: 75px;
    }
}

@media (min-width: 769px) and (max-width: 960px) {
    .logo {
        float: left;
    }

}

@media (min-width: 1280px) {
    .slider__item {
        position: relative;
    }
    .slider__arrow--left {
        left: -15%;
    }
    .slider__arrow--right {
        right: -15%;
    }
}

@media (min-width: 961px) {
    .wrapper {
        max-width: 960px;
    }
    .wrapper.wrapper--fullwidth {
        max-width: 100%;
    }
    .wrapper--fullwidth .slider__item {
        margin: 0 auto;
        max-width: 960px;
    }
    .slider--first {
        padding: 100px 25px 110px 25px;
    }
    .slider--first .slider__buttons {
        right: 560px;
    }
    .logo {
        float: left;
    }

}
