.products {
    margin-top: 30px;
    .products__item {
        position: relative;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
        img {
            max-width: 280px;
            height: auto;
        }
    }
    .products__link-mobile {
        position: absolute;
        bottom: 62px;
        left: 0;
        max-width: 280px;
        max-height: 41px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        font-weight: 700;
        font-size: 1rem;
        line-height: 40px;
        text-transform: uppercase;
        color: #8ae6cf;
    }
    .products__link-desktop {
        display: none;
    }
    .products__description {
        margin: 0 auto;
        margin-top: 8px;
        color: #282828;
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
    }
    .products__price {
        color: #2c303d;
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 33px;
    }
    .hot--price {
        color: #ce2c52;
    }
    .products__price--desktop {
        display: none;
    }
}

// Tablet
@media (min-width: 403px) {
    .products {
        margin: 30px 40px 0 40px;
        .products__item {
            display: inline-block;
            width: 50%;
            max-width: 300px;
            margin: 0;
            margin-right: -4px;
            img {
                max-width: 100%;
                height: auto;
            }
            .products__link-mobile {
                max-width: 300px;
                font-size: 2.5vw;
            }
            .products__description {
                width: 100%;
                min-width: 162px;
                font-size: 2.5vw;
            }
            .products__price {
                width: 100%;
                min-width: 162px;
            }
        }

        .products__item:nth-child(even) {
            .products__item-container {
                position: relative;
                margin-left: 20px;
            }
        }
        .products__item:nth-child(odd) {
            .products__item-container {
                position: relative;
                margin-right: 20px;
            }
        }
    }
}

// Desktop
@media (min-width: 721px) {
    .products {
        .products__link-desktop {
            display: block;
            opacity: 0;
        }
        .products__item:hover {
            .products__link-desktop {
                display: block;
                opacity: 1;
                transition: opacity .3s;
            }
        }
        .products__item {
            width: 33.33%;
            max-width: 265px;
            .products__link-mobile,
            .products__price {
                display: none;
            }
            .products__link-desktop {
                position: absolute;
                bottom: 130px;
                left: 20%;
                max-width: 144px;
                max-height: 29px;
                width: 100%;
                height: 100%;
                background-color: #8ae6cf;
                color: #2c303d;
                font-weight: 700;
                font-size: 1rem;
                line-height: 32px;
                text-transform: uppercase;
            }
            .products__price--desktop {
                display: block;
                position: absolute;
                bottom: 56px;
                right: 20px;
                max-width: 148px;
                max-height: 22px;
                height: 100%;
                background-color: #8ae6cf;
                font-family: 'Open Sans', sans-serif;
                font-size: 1rem;
                font-weight: 700;
                line-height: 24px;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                .oldprice {
                    padding-left: 15px;
                    padding-right: 15px;
                    float: left;
                    text-decoration: line-through;
                    color: #2c303d;
                }
                .hot-price {
                    padding-right: 15px;
                    float: right;
                    color: #ce2c52;
                }
            }
            .products__description {
                font-size: 1rem;
                margin-top: 18px;
                margin-bottom: 22px;
            }
        }
        .products__item:nth-child(2),
        .products__item:nth-child(3),
        .products__item:nth-child(5),
        .products__item:nth-child(6) {
            .products__price--desktop .oldprice {
                text-decoration: none;
            }
        }
        .products__item:nth-child(even) {
            .products__item-container {
                margin-left: 0;
            }
        }
        .products__item:nth-child(odd) {
            .products__item-container {
                margin-right: 0;
            }
        }
        .products__item {
            .products__item-container {
                max-width: 245px;
                padding-right: 20px;
            }
        }
    }
}
