* {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 50px;
  color: #000;
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
}

h1 {
  margin-bottom: 80px;
  color: #e45600;
  text-transform: uppercase;
}
h2 {
  margin-bottom: 20px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 50px;
    color: #000;
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
}

.logo {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: 80px;
    background: url('../img/grunt-logo.png') 0 0 no-repeat;
}
h2 {
    margin-bottom: 20px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 50px;
    color: #000;
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
}

.logo {
    margin: 0 auto;
    width: 170px;
    height: 200px;
    margin-bottom: 55px;
    background: url('../img/grunt-logo.png') 0 0 no-repeat;
    background-size: contain;
}
h2 {
    margin-bottom: 20px;
}
