@import "reset";
@import "fonts";
@import "variables";

.wrapper {
    min-width: 320px;
    min-height: 100px;
    margin: 0 auto;
    text-align: center;
}

.header {
    margin: 0 auto;
    padding-top: 32px;
    background: url('../img/header_bg.jpg') top center no-repeat;
    background-size: cover;
    .header__logo {
        margin: 0;
        font-family: $header-font;
        font-weight: 700;
        font-size: 20px;
        margin: 115px 0 40px 0;
        a {
            color: $header-color;
        }
        a:hover {
            color: #ff4e50;
        }
    }
    .header__signup {
        display: inline-block;
        font-family: $header-font;
        font-weight: 700;
        font-size: 14px;
        color: $header-color;
        li {
            display: inline-block;
        }
        li:first-child {
            margin-right: 20px;
        }
        li:last-child a{
            padding: 10px 17px 8px 17px;
            border-radius: 20px;
            border: 2px solid #fff;
        }
        li:last-child a:hover {
            border: 2px solid #ff4e50;
        }
        a {
            color: $header-color;
        }
        a:hover {
            color: #ff4e50;
        }
    }
    .header__text {
        margin-bottom: 15px;
        color: $header-color;
        font-family: $header-font;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
    }
    .header__text--little {
        color: $header-color;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 18px;
    }
    .header__button {
        display: inline-block;
        margin: 20px 0 133px 0;
        padding: 14px 0 12px 0;
        background-color: #ff4e50;
        border-radius: 20px;
        border: 1px solid #ff4e50;
        font-family: $header-font;
        font-weight: 700;
        font-size: 14px;
        a {
            padding: 14px 52px 12px 51px;
            color: $header-color;
        }
    }
}

section {
    width: 320px;
    margin: 0 auto;
    background-color: #fff;
}

.sliders--mobile {
    color: #333;
    p {
        margin: 38px 0 15px 0;
        font-family: $header-font;
        font-weight: 700;
        font-size: 22px;
    }
    .slider {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .slider1 {
        width: 301px;
        height: 240px;
        background: url('../img/slide1_bg.jpg') top center no-repeat;
        background-size: cover;

    }
    .slider2 {
        width: 300px;
        height: 240px;
        background: url('../img/slide2_bg.jpg') top center no-repeat;
        background-size: cover;

    }
    .slider3 {
        width: 300px;
        height: 240px;
        background: url('../img/slide3_bg.jpg') top center no-repeat;
        background-size: cover;

    }
}

.partners {
    margin-top: 29px;
    .partners__text {
        font-family: $header-font;
        font-size: 22px;
        font-weight: 700;
    }
    .partners__text:first-child {
        line-height: 2;
    }
    .partners__text:nth-child(2) {
        margin-bottom: 15px;
    }
    .partner {
        margin-bottom: 30px;
    }
    .partner__name {
        padding: 20px 0 16px 0;
        color: #333;
        font-family: $header-font;
        font-size: 14px;
        font-weight: 700;
    }
    .partner__description {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #666;
    }
    .partner__button {
        display: inline-block;
        padding: 12px 0 10px 0;
        border: 2px solid #ff4e50;
        border-radius: 20px;
        a {
            padding: 12px 72px 10px 73px;
            color: #ff4e50;
            font-family: $header-font;
            font-size: 14px;
            font-weight: 700;
        }
    }
}
