doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title App
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/sprite.css")
  body
    include ./templates/layouts/header
    include ./templates/layouts/content
    include ./templates/layouts/footer


    script(src="js/main.js")