* {
    margin: 0;
    padding: 0;
}
body, html {
    font-family: Arial, sans-serif;
    font-size: 13px;
    min-height: 100%;
}

menu {
    float: right;
    margin: 20px 32px 0 0;
}

menu li {
    float: left;
    margin-right: 15px;
    list-style: none;
    line-height: 2;
}
menu li:nth-child(1) a:hover,
menu li:nth-child(2) a:hover {
    opacity: .85;
    text-decoration: underline;
    color: #000;
}

menu li:nth-child(3) {
    width: 30px;
    height: 30px;
    background-image: url('../img/i1_1967ca6a.png');
    background-position: -132px -38px;
    background-repeat: no-repeat;
    opacity: .55;
}
menu li:nth-child(3):hover {
    opacity: 1;
}

menu li:nth-child(4) {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
menu a {
    text-decoration: none;
    color: #000;
    opacity: .75;
}

menu li:nth-child(4) a {

    color: #fff;
    opacity: 1;
}

.wrapper {
    padding-top: 198px;
}

.logo {
    margin: 0 auto;
    width: 272px;
    height: 92px;
    background: url('../img/googlelogo_color_272x92dp.png') 0 0 no-repeat;
}

form {
    margin-top: 32px;
    text-align: center;
}

.search_input {
    margin: 0 auto;
    padding: 0 10px 0 10px;
    width: 496px;
    height: 38px;
    font-size: 16px;
}


.search_btn {
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    font-weight: bold;
    margin: 11px 4px;
    margin-bottom: 40px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    color: rgba(117, 117, 117, 1);
}

.search_btn:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.wrapper-image {
    text-align: center;
}

.wrapper-image img {
    max-height: 200px;
    margin: 5px;
}
