.container {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 798px;
  width: 100%;
  height: auto;
  background-color: #efefef;
  padding-top: 4px;
}
div#resume {
  max-width: 412px;
  min-height: 750px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
}
h1 {
  font-size: 21px;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 50px;
}
img {
  border-radius: 15px 15px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}
.block {
  font-size: 18px;
  border-bottom: 1px solid rgb(123, 123, 123);
}
.block:last-child {
  border-bottom: none;
}
p {
  padding-left: 15px;
}
li {
  margin-bottom: 5px;
  font-size: 18px;
}
.ul{
  margin-top: 35px;
}
.profilefb {
  display: inline-block;
  margin-top: 15px;
}
.mobilenum {
  margin-top: 5px;
}
.feedback {
  display: inline-block;
  margin-top: 5px;
}
.facebookid {
  margin: 0 0 15px 0;
}
