@import "reset";
@import "fonts";
@import "variables";
@import "effects";
@import "dropdown_menu";

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 100%;
}

.wrapper {
    position: relative;
    max-width: 768px;
    height: auto;
    margin: 0 auto;
}

header {
    width: 100%;
    height: auto;
    background: url('../img/header_bg.jpg') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    .large-header {
    	position: relative;
    	width: 100%;
        max-height: 120px;
    	background-size: cover;
    	background-position: center center;
    	z-index: 1;
    }
    canvas {
        position: absolute;
        width: inherit;
    }
    .wrapp {
        position: absolute;
        margin: 0;
        padding: 0;
        color: #f9f1e9;
        text-align: center;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }
    .content {
        max-height: 120px;
    }
    .desktop-menu {
        display: none;
        margin-right: 20px;
    }
}

main {
    background-color: #e4f4f3;
    padding: 50px 30px;
    font-family: 'Lato', Tahoma, Arial, sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 15px;
    line-height: 1.8;
    .button-toaction {
        margin-bottom: 1px;
        position: fixed;
        left: 0;
        top: 148.5px;
        visibility: visible;
        z-index: 999998;
        .calltoaction {
            max-width: 230px;
            display: inline-block;
            padding: 2px;
            text-align: center;
            background-color: #C08515;
            color: #fff;
            font-family: 'Lato', Tahoma, Arial, sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.2;
            text-transform: uppercase;
            transition: background-color 0.3s;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            text-shadow: 1px 1px 5px #000;
            overflow: hidden;
        }

        .calltoaction__logo {
            display: inline-block;
            width: 21px;
            height: 22px;
            background: url(../img/sprite.png) top right no-repeat;
            background-position: -2px -751px;
            transition: background-position 0.3s;
        }
    }
    .button-toaction a:hover {
        background-color: #7C5100;
        transition: background-color 0.3s;
        transition: background 0.3s;
        .calltoaction__logo {
            background-position: -2px -793px;
            transition: background-position 0.3s;
        }
    }
    .portfolio-button {
        display: block;
        width: 207px;
        margin: 0 auto;
        padding: 20px;
        color: #000;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        .portfolio-arrow {
            width: 20px;
            height: 20px;
            background: url(../img/sprite.png) 0 -840px no-repeat;
            margin: 0 auto;
            transition: background-position 0.3s;
        }
    }
    .portfolio-button:hover {
        color: #dea53a;
        transition: color 0.3s;
        .portfolio-arrow {
            background-position: 0 -863px;
            transition: background-position 0.3s;
        }
    }
    .about {
        margin-bottom: 30px;
        .avatar {
            float: left;
            margin-right: 15px;
        }
    }
}

.featured-work {
    .grid-item {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        word-break: break-word;
        .grid-link {
            display: table;
            width: 100%;
            height: 100%;
            span {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                img {
                    max-width: 100%;
                    max-height: 300px;
                }
            }
        }
        .grid-text {
            margin: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1em 2em 1em 2em;
            font-family: 'Lato', Tahoma, Arial, sans-serif;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: white;
            line-height: 1.4;
            background: rgba(0, 0, 0, 0.75);
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -ms-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            -moz-transition-property: transform;
            -ms-transition-property: transform;
            -o-transition-property: transform;
            transition-property: transform;
            -webkit-transform: translateY(100%) translateZ(0);
            -ms-transform: translateY(100%);
            transform: translateY(100%) translateZ(0);
        }

    }
    .item-blue {
        background-color: #c5e5f3;
    }
    .item-white {
        background-color: #f7f7f7;
    }
    .item-gray {
        background-color: #33363b;
    }
    .item-lightgray {
        background-color: #ccc;
    }
    .item-green {
        background-color: #c4dfdd;
    }
    .item-orange {
        background-color: #d7c9b2;
    }
    .item-red {
        background-color: #f4bec1;
    }
    .grid-item:hover {
        .grid-text {
            transform: translateX(0) translateY(0) translateZ(0);
        }
    }
}

.contacts {
    background-color: #e4f4f3;
    padding: 50px 30px;
    color: #000;
    line-height: 1.8;
    font-family: Lato,Tahoma,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
}


footer {
    padding: 50px 20px 20px 20px;
    background-color: #166f72;
    .large-header {
    	position: relative;
    	width: 100%;
        max-height: 120px;
    	background-size: cover;
    	background-position: center center;
    	z-index: 1;
    }
    canvas {
        width: inherit;
    }
    .wrapp {
        position: absolute;
        margin: 0;
        padding: 0;
        color: #f9f1e9;
        text-align: center;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }
    .content {
        max-height: 120px;

    }
    hr {
        height: 1px;
        margin: 15px 0 10px 0;
        border: 0;
        background-color: #01c6ae;
    }
    .copyright {
        text-align: center;
        color: #DEA53A;
        font-family: 'Proxima Nova Bold', Tahoma, Arial, sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        a {
            font-family: 'Proxima Nova Regular', Tahoma, Arial, sans-serif;
            color: #fff;
            text-decoration: none;
            line-height: 2;
        }
        a:hover {
            color: #b0ffee;
        }
    }
}


@media (min-width: 768px) {
    .wrapper {
        max-width: 768px
    }
    .button-toaction {
        a.calltoaction {
            border-top-right-radius: 15px;
        }
    }
    .featured-work {
        .grid-item {
            float: left;
            width: 50%;
            height: 300px;
        }
    }
}

@media (min-width: 769px) {
    header {
        .desktop-menu {
            display: block;
            position: absolute;
            top: 25px;
            right: 0;
            z-index: 999999;
            .desktop-menu-content__item {
                float: left;
                margin-left: 20px;
                a {
                    margin-top: 15px;
                    padding-bottom: 8px;
                    font-family: $menu-font;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #b0ffee;
                    letter-spacing: 1px;
                    text-shadow: 1px 0px 1px #000;
                    font-size: 18px;
                }
                .menu-active {
                    color: #DEA53A;
                    padding-bottom: 8px;
                    border-bottom: 2px solid #DEA53A;
                }
            }
            .desktop-menu-content__item:last-child {
                a {
                    margin-top: 0;
                    padding: 15px 12px;
                    color: #20ecbe;
                    background-color: #0D766E;
                }
                a:hover {
                    background-color: #01625B;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .wrapper {
        max-width: 940px
    }
    .featured-work {
        .grid-item {
            width: 25%;
        }
    }
}
