@import "reset";
@import "fonts";
@import "variables";
@import "effects";
@import "dropdown_menu";

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 100%;
}

.wrapper {
    position: relative;
    max-width: 768px;
    height: auto;
    margin: 0 auto;
}

header {
    width: 100%;
    height: auto;
    background: url('../img/header_bg.jpg') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    .logo {
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
        z-index: 999999;
        .logo__picture {
            width: 62px;
            height: 62px;
            background: url("../img/sprite.png") -12px -5px no-repeat;
            float: left;
        }
        .logo__text {
            display: inline-block;
            margin-left: 10px;
            h1, h2 {
                margin-top: 10px;
                font-family: 'Lato', Tahoma, Arial, sans-serif;
                color: #fff;
                text-shadow: 1px 0 1px #000;
            }
            h1 {
                font-weight: 700;
                font-size: 17px;
                text-transform: uppercase;
            }
            h2 {
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
    .large-header {
    	position: relative;
    	width: 100%;
        max-height: 120px;
    	background-size: cover;
    	background-position: center center;
    	z-index: 1;
    }
    canvas {
        position: absolute;
        width: inherit;
    }
    .wrapp {
        position: absolute;
        margin: 0;
        padding: 0;
        color: #f9f1e9;
        text-align: center;
        top: 74%;
        left: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }
    .content {
        max-height: 120px;
    }
    .desktop-menu {
        display: none;
        margin-right: 20px;
    }
}

main {
    background-color: #f2f8e6;
    padding: 35px 30px 50px 30px;
    font-family: 'Lato', Tahoma, Arial, sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 15px;
    line-height: 1.8;
    h1 {
        color: #757575;
        margin-top: 0;
    }
    .button-toaction {
        margin-bottom: 1px;
        position: fixed;
        left: 0;
        top: 148.5px;
        visibility: visible;
        z-index: 999998;
        .calltoaction {
            max-width: 230px;
            display: inline-block;
            padding: 2px;
            text-align: center;
            background-color: #C08515;
            color: #fff;
            font-family: 'Lato', Tahoma, Arial, sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.2;
            text-transform: uppercase;
            transition: background-color 0.3s;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            text-shadow: 1px 1px 5px #000;
            overflow: hidden;
        }

        .calltoaction__logo {
            display: inline-block;
            width: 21px;
            height: 22px;
            background: url(../img/sprite.png) top right no-repeat;
            background-position: -2px -751px;
            transition: background-position 0.3s;
        }
    }
    .button-toaction a:hover {
        background-color: #7C5100;
        transition: background-color 0.3s;
        transition: background 0.3s;
        .calltoaction__logo {
            background-position: -2px -793px;
            transition: background-position 0.3s;
        }
    }
    .portfolio-button {
        display: block;
        width: 207px;
        margin: 0 auto;
        color: #000;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        padding: 20px;
        .portfolio-arrow {
            width: 20px;
            height: 20px;
            background: url(../img/sprite.png) 0 -840px no-repeat;
            margin: 0 auto;
            transition: background-position 0.3s;
        }
    }
    .portfolio-button:hover {
        color: #dea53a;
        transition: color 0.3s;
        .portfolio-arrow {
            background-position: 0 -863px;
            transition: background-position 0.3s;
        }
    }
    .about {
        margin-top: 30px;
        .about__link {
            font-weight: 700;
            font-size: 16px;
        }
        p {
            margin-bottom: 20px;
        }
        .avatar {
            float: left;
            margin-right: 15px;
        }
    }
    .skills {
        p {
            color: #757575;
            font-weight: 700;
            font-size: 22px;
            text-align: center;
        }
        span {
            display: block;
            color: #000;
            text-align: center;
        }
        .development {
            width: 50%;
            float: left;
            text-align: center;
        }
        .design {
            width: 50%;
            float: right;
            text-align: center;
        }
        .skill {
            display: inline-block;
            margin: 10px;
        }
    }
    .hire {
        .modal {
        	z-index: 2;
        	position: fixed;
        	display: none;
        	top: 30%;
        	left: 52%;
        	width: 285px;
        	height: auto;
        	padding: 15px 10px;
        	margin-top: -100px;
        	margin-left: -150px;
        	border-radius: 20px;
        	opacity: 0;
        	background: #fff;
            form {
                display: inline-block;
                font-weight: 600;
                p {
                    font-size: 18px;
                    margin-bottom: 10px;
                    text-align: center;
                }
                .required {
                    color: #da3941;
                }
                #email-invalid {
                    float: right;
                    color: #da3941;
                    font-size: 11px;
                }
            }
            .form-input,
            .form-textarea {
                width: 265px;
            }
            .form-input,
            .form-textarea,
            .form-button {
                padding: 5px;
                font-family: 'Lato', Tahoma, Arial, sans-serif;
                font-size: 16px;
                margin-bottom: 10px;
            }
            .form-textarea {
                margin-bottom: 15px;
            }
            .form-button {
                padding: 6px 37px;
                border: none;
                border-radius: 4px;
                text-align: center;
                cursor: pointer;
                color: #fff;
                letter-spacing: 3px;
            }
            .btn1 {
                float: left;
                background-color: #DEA53A;
                border: 1px solid #b78933;
                transition: background-color 0.3s;
            }
            .btn1:hover {
                background-color: #c79438;
                transition: background-color 0.3s;
            }
            .btn2 {
                float: right;
                background-color: #2eb7ae;
                border: 1px solid #238881;
                transition: background-color 0.3s;
            }
            .btn2:hover {
                background-color: #2a9e97;
                transition: background-color 0.3s;
            }
        }
        .overlay {
        	z-index: 1;
        	position: fixed;
        	display:none;
        	top:0;
        	left:0;
        	width:100%;
        	height:100%;
        	filter:alpha(opacity=80);
        	-moz-opacity:0.8;
        	opacity:0.5;
        	cursor:pointer;
        	background-color:#000;
        }

        .modal-close {
        	z-index: 3;
        	position: absolute;
        	display: block;
            top: -25px;
            left: 245px;
            width: 60px;
            height: 60px;
        	cursor: pointer;
        	background: url('../img/fancybox_sprite.png');
        	background-repeat: no-repeat;
        	background-size: cover;
        }
    }
}

.featured-work {
    .grid-item {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        word-break: break-word;
        .grid-link {
            display: table;
            width: 100%;
            height: 100%;
            span {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                img {
                    max-width: 100%;
                    max-height: 300px;
                }
            }
        }
        .grid-text {
            margin: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1em 2em 1em 2em;
            font-family: 'Lato', Tahoma, Arial, sans-serif;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: white;
            line-height: 1.4;
            background: rgba(0, 0, 0, 0.75);
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -ms-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            -moz-transition-property: transform;
            -ms-transition-property: transform;
            -o-transition-property: transform;
            transition-property: transform;
            -webkit-transform: translateY(100%) translateZ(0);
            -ms-transform: translateY(100%);
            transform: translateY(100%) translateZ(0);
        }

    }
    .item-blue {
        background-color: #c5e5f3;
    }
    .item-white {
        background-color: #f7f7f7;
    }
    .item-gray {
        background-color: #33363b;
    }
    .item-lightgray {
        background-color: #ccc;
    }
    .item-green {
        background-color: #c4dfdd;
    }
    .item-orange {
        background-color: #d7c9b2;
    }
    .item-red {
        background-color: #f4bec1;
    }
    .grid-item:hover {
        .grid-text {
            transform: translateX(0) translateY(0) translateZ(0);
        }
    }
}

.contacts {
    float: left;
    margin-left: 30px;
    color: #000;
    line-height: 1.8;
    font-family: Lato,Tahoma,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    h2 {
        font-size: 2em;
        color: #757575;
        margin-top: 0
    }
    .social-networks {
        display: inline-block;
        li {
            margin-bottom: 1em;
        }
        li a {
            padding-left: 60px;
            line-height: 50px;
            display: block;
            height: 50px;
            background: url('../img/sprite.png') no-repeat;
            text-decoration: none;
            font-size: 18px;
            font-size: 1.8rem;
            opacity: 1;
            transition: opacity 0.3s;
        }
        li a:hover {
            opacity: .7;
            transition: opacity 0.3s;
        }
        .facebook {
            background-position: 0px -547px;
            color: #43609c;
        }
        .linkedin {
            background-position: 0px -700px;
            color: #0982c0;
        }
        .github {
            background-position: 0px -649px;
            color: #333;
        }
    }
}


footer {
    padding: 0 20px 20px 20px;
    background: rgb(142,207,203);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlY2ZjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iI2IwZThjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2YxZjJiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(142,207,203,1) 0%, rgba(176,232,192,1) 58%, rgba(241,242,181,1) 99%);
    background: -webkit-linear-gradient(top,  rgba(142,207,203,1) 0%,rgba(176,232,192,1) 58%,rgba(241,242,181,1) 99%);
    background: linear-gradient(to bottom,  rgba(142,207,203,1) 0%,rgba(176,232,192,1) 58%,rgba(241,242,181,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ecfcb', endColorstr='#f1f2b5',GradientType=0 );

    border-top: 2px solid #669491;
    .arrow-up {
        position: relative;
        width: 100%;
        height: 50px;
        left: 0px;
        a.top {
            background: transparent url('../img/sprite.png') -2px -217px;
            width: 118px;
            height: 90px;
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -59px;
            bottom: 11px;
            text-indent: -9999px;
            transition: bottom 0.3s;
        }
        a.top:hover {
            bottom: 15px;
            transition: bottom 0.3s;
        }
    }
    .large-header {
    	position: relative;
    	width: 100%;
        max-height: 120px;
    	background-size: cover;
    	background-position: center center;
    	z-index: 1;
    }
    canvas {
        width: inherit;
    }
    .wrapp {
        position: absolute;
        margin: 0;
        padding: 0;
        color: #f9f1e9;
        text-align: center;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }
    .content {
        max-height: 120px;
    }
    .desktop-menu {
        display: block;
        float: right;
        .desktop-menu-content__item {
            float: left;
            line-height: 3;
            text-align: left;
            margin-right: 30px;
            a {
                font-family: $menu-font;
                font-weight: 400;
                text-transform: uppercase;
                text-decoration: none;
                color: #0d766e;
                letter-spacing: 1px;
                font-size: 18px;
                text-shadow: 1px 0px 1px #0d766e;
            }
            .menu-active {
                color: #DEA53A;
                text-shadow: 1px 0px 1px #000;
            }
        }
        .desktop-menu-content__item:last-child {
            a {
                margin-top: 0;
                padding: 0 12px;
                color: #20ecbe;
                background-color: #0D766E;
                text-shadow: 1px 0px 1px #000;
            }
            a:hover {
                background-color: #01625B;
            }
        }
    }
    hr {
        height: 1px;
        margin: 15px 0 10px 0;
        border: 0;
        background-color: #669491;
    }
    .copyright {
        text-align: center;
        color: #000;
        font-family: 'Proxima Nova Bold', Tahoma, Arial, sans-serif;
        font-size: 13px;
        letter-spacing: 1px;
        a {
            font-family: 'Proxima Nova Regular', Tahoma, Arial, sans-serif;
            color: #052f2c;
            text-decoration: none;
            line-height: 2;
            transition: color 0.3s;
        }
        a:hover {
            color: #fff;
            transition: color 0.3s;

        }
    }
}
@media (min-width: 320px) and (max-width: 442px) {
    main {
        .about .avatar {
            display: block;
            float: none;
            text-align: center;
            margin-right: 0;
            margin-left: 0;
            margin: 0 auto;
            margin-bottom: 25px;
        }
        .skills {
            .development,
            .design {
                width: 100%;
            }
        }
    }
}

@media (min-width: 414px) {
    main .hire {
        .modal {
            left: 46%;
            width: 335px;
            padding: 35px;
            .modal-close {
                width: 70px;
                height: 70px;
                top: -35px;
                left: 290px;
            }
        }
    }

}

@media (min-width: 320px) and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

}

@media (min-width: 768px) {
    main .hire {
        .modal {
            left: 45%;
            width: 400px;
            padding: 35px 49px;
            .modal-close {
                width: 80px;
                height: 80px;
                top: -35px;
                left: 355px;
            }
            .form-input,
            .form-textarea {
                width: 300px;
            }
        }
    }
    .wrapper {
        max-width: 768px
    }
    .button-toaction {
        a.calltoaction {
            border-top-right-radius: 15px;
        }
    }
    .featured-work {
        .grid-item {
            float: left;
            width: 50%;
            height: 300px;
        }
    }
}

@media (min-width: 769px) {
    header {
        .logo {
            margin-top: 25px;
            margin-left: 20px;
        }
        .desktop-menu {
            display: block;
            position: absolute;
            top: 25px;
            right: 0;
            z-index: 999999;
            .desktop-menu-content__item {
                float: left;
                margin-left: 20px;
                a {
                    margin-top: 15px;
                    padding-bottom: 8px;
                    font-family: $menu-font;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #b0ffee;
                    letter-spacing: 1px;
                    text-shadow: 1px 0px 1px #000;
                    font-size: 17px;
                }
                .menu-active {
                    color: #DEA53A;
                    padding-bottom: 8px;
                    border-bottom: 2px solid #DEA53A;
                }
            }
            .desktop-menu-content__item:last-child {
                a {
                    margin-top: 0;
                    padding: 15px 12px;
                    color: #20ecbe;
                    background-color: #0D766E;
                }
                a:hover {
                    background-color: #01625B;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .wrapper {
        max-width: 940px
    }
    .featured-work {
        .grid-item {
            width: 25%;
        }
    }
    header {
        .desktop-menu {
            .desktop-menu-content__item {
                a {
                    font-size: 19px;
                }
            }
        }
    }
}
